{% extends "page.html" %}
{% block title %}Case | {{ case.case_id.requirement_id }}{% endblock %}
{% block page_content %}
  <h1>Case {{ case.case_id.requirement_id }}</h1>
  {{ case_card(case) }}
  <h2>Rules</h2>
  {{ rule_list(case.rules) }}
{% endblock page_content %}


{% macro case_card(case) %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ case.case_id.specification }}:{{ case.case_id.requirement_id }}</h5>
      <h5 class="card-subtitle text-muted">Testable: {{ case.status }} Schema: {{ case.valid }}</h5>
      <p class="card-text">{{ case.requirement.name }}</p>
      <p class="card-text">{{ case.requirement.description }}</p>
    </div>
  </div>
{% endmacro %}

{% macro rule_list(rules) %}
  <ul class="list-group list-group-flush">
    {% for rule in rules %}
      {{ rule_item(rule) }}
    {% endfor %}
  </ul>
{% endmacro %}

{% macro rule_item(rule) %}
    <li class="list-group-item">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rule:{{ rule.rule_id }} Packages:{{ rule.existing_packages | length }}/{{ rule.packages | length }}</h5>
          <h6 class="card-subtitle text-muted">{{ rule.description }}</h6>
          <p class="card-text">{{ rule.error.level }}: {{ rule.error.message }}</p>
          <p class="card-text">Packages: {{ package_table(rule.packages) }}</p>
        </div>
      </div>
    </li>
{% endmacro %}

{% macro package_list(packages) %}
  <ul class="list-group list-group-flush">
    {% for package in packages -%}
      <li><a class="badge badge-{{ badge_class(package) }}" href="./{{ package.name }}/index.html"> {{ package.name }}</a></li>
    {%- endfor %}
  </ul>
{% endmacro %}

{% macro package_table(packages) %}
  <table data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th data-field="name">Name</th>
        <th data-field="expected">Expected Result</th>
        <th data-field="rules">Result</th>
      </tr>
    </thead>
    <tbody>
      {% for package in packages -%}
        <tr>
          <td class="table-{{ badge_class(package) }}"><a href="./{{ package.name }}/index.html">{{ package.name }}</a></td>
          <td>{{ 'Valid' if package.is_valid  == 'TRUE' else 'Invalid' }}</td>
          <td>{{ 'Valid' if package.validation_result == 'TRUE' else 'Invalid' }}</td>
        </tr>
      {%- endfor %}
    </tbody>
  </table>
{% endmacro %}

{% macro badge_class(package) -%}
      {{ 'secondary' if not package.exists else 'primary' }}
{%- endmacro %}
