{% extends "page.html" %}
{% block title %}Package | {{ case.case_id.requirement_id }}.{{ rule.rule_id }}:{{ package.name }}{% endblock %}
{% block page_content %}
  <h1>Package {{ case.case_id.requirement_id }}.{{ rule.rule_id }}:{{ package.name }}</h1>
  <h2>Rule</h2>
  <p>{{ rule_card(rule) }}</p>
  <h2>Status</h2>
  <p>{{ package_card(package) }}</p>
{% endblock page_content %}

{% macro rule_card(rule) %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Rule:{{ rule.rule_id }}</h5>
        <h5 class="card-subtitle text-muted">{{ rule.description }}</h5>
        <p class="card-text">{{ rule.error.level }}: {{ rule.error.message }}</p>
      </div>
    </div>
{% endmacro %}

{% macro package_card(package) %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Name:{{ package.name }}</h5>
        <h5 class="card-subtitle">Expected:{{ valid_badge(package) }}</h5>
        <p class="card-text">Actual: Structure {{ package.validation_report.status }}</p>
        <p class="card-text">Actual: Schema {{ validation_badge(package.schema_result) }}</p>
        <p class="card-text">Actual: Schematron {{ validation_badge(package.schematron_result) }}</p>
        <p class="card-text text-muted">{{ package.description }}</p>
        <p class="card-text">{{ path_badge(package) }}<code>{{ package.path }}</code></p>
        <p class="card-text"><a href="{{ package.path }}/METS.xml">View METS</a></p>
      </div>
    </div>
{% endmacro %}

{% macro valid_badge(package) -%}
      <span class="badge badge-{{ valid_badge_class(package) }}">{{ "VALID" if package.is_valid else "INVALID" }}</span>
{%- endmacro %}

{% macro valid_badge_class(package) -%}
      {{ 'success' if package.is_valid == 'TRUE' else 'danger' }}
{%- endmacro %}

{% macro path_badge(package) -%}
      <span class="badge badge-{{ path_badge_class(package) }}">Path:</span>
{%- endmacro %}

{% macro path_badge_class(package) -%}
      {{ 'success' if package.exists else 'danger' }}
{%- endmacro %}

{% macro validation_badge(result) %}
  <span class="{{ validation_badge_class(result) }}">{% if result == true %}Valid{% else %}Invalid{% endif %}</span>
{% endmacro %}

{% macro validation_badge_class(result) %}
  badge badge-{% if result == true %}success{% else %}danger{% endif %}
{% endmacro %}
