{% extends "page.html" %}
{% block title %}Skipped{% endblock %}
{% block page_content %}
<h1>Skipped Branches</h1>
<table class="table table-striped" data-toggle="table" data-search="true">
  <thead class="thead-dark">
    <tr>
      <th data-field="num">Number</th>
      <th data-field="branch">Branch</th>
      <th data-field="message">Message</th>
    </tr>
  </thead>
  <tbody>
    {% for skip in skipped %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ skip.ref }}</td>
      <td>{{ skip.message }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock page_content %}
