{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<h1>Validation Report</h1>
<p class="lead">Package Structure: {{ details.package_status.name }}</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Severity</th>
    <th>Message</th>
    <th>Sub Message</th>
  </tr>
  {{ struct_rows(details.errors) }}

</table>
<p class="lead">Schema Validation: {{ schema_result }}</p>
<ul>
  {% for error in schema_errors %}
    <li>{{ error }}</li>
  {% endfor %}
</ul>
<p class="lead">Schematron Validation:</p>
<ul>
  {% for key, value in results.items() %}
    <li>{{ key }}: {{ value }}</li>
  {% endfor %}
</ul>
<p class="lead">Schematron Errors:</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Context</th>
    <th>Test</th>
    <th>Location</th>
    <th>Message</th>
  </tr>
  {{ prop_rows(errors) }}

</table>
{% endblock page_content %}
{% block page_script %}
{% endblock page_script %}

{% macro prop_rows(errors) %}
{% for error in errors %}
  {{ prop_row(error) }}
{% endfor %}
{% endmacro %}

{% macro prop_row(error) %}
  <tr>
    <td>{{ error.rule_id }}</td>
    <td>{{ error.location.context }}</td>
    <td>{{ error.location.test }}</td>
    <td>{{ error.location.location }}</td>
    <td>{{ error.message }}</td>
  </tr>
{% endmacro -%}

{% macro struct_rows(errors) %}
{% for error in errors %}
  {{ struct_row(error) }}
{% endfor %}
{% endmacro %}

{% macro struct_row(error) %}
  <tr>
    <td>{{ error.rule_id }}</td>
    <td>{{ error.severity.name }}</td>
    <td>{{ error.message }}</td>
    <td>{{ error.sub_message }}</td>
  </tr>
{% endmacro -%}
