{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<h1>Validation Report</h1>
<p class="lead">Package Structure: {{ details.package_status.name }}</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Severity</th>
    <th>Message</th>
    <th>Sub Message</th>
  </tr>
  {{ struct_rows(details.errors) }}

</table>
<p class="lead">Schema Validation: {{ schema_result }}</p>
<ul>
  {% for error in schema_errors %}
    <li>{{ error }}</li>
  {% endfor %}
</ul>
<p class="lead">Schematron Validation: {{ schematron_result }}</p>
<ul>
  {% for key, value in profile_results.items() %}
    <li>{{ key }}: {{ value.is_valid }}</li>
  {% endfor %}
</ul>
<p class="lead">Schematron Issues:</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Severity</th>
    <th>Location</th>
    <th>Test</th>
    <th>Message</th>
  </tr>
  {{ prop_rows(profile_results) }}

</table>
{% endblock page_content %}
{% block page_script %}
{% endblock page_script %}

{% macro prop_rows(results) %}
{% for key, value in results.items() %}
  {% for warning in value.warnings %}
    {{ prop_row(warning) }}
  {% endfor %}
  {% for failure in value.failures %}
    {{ prop_row(failure) }}
  {% endfor %}
{% endfor %}
{% endmacro %}

{% macro prop_row(issue) %}
  <tr>
    <td>{{ issue.rule_id }}</td>
    <td>{{ issue.severity.name }}</td>
    <td>{{ issue.location.location }}</td>
    <td>{{ issue.location.test }}</td>
    <td>{{ issue.message }}</td>
  </tr>
{% endmacro -%}

{% macro struct_rows(errors) %}
{% for error in errors %}
  {{ struct_row(error) }}
{% endfor %}
{% endmacro %}

{% macro struct_row(error) %}
  <tr>
    <td>{{ error.rule_id }}</td>
    <td>{{ error.severity.name }}</td>
    <td>{{ error.message }}</td>
    <td>{{ error.sub_message }}</td>
  </tr>
{% endmacro -%}
