{% extends "page.html" %}
{% block title %}Home{% endblock %}
{% block page_content %}
<h1>Validation Report</h1>
<h2>Package ID: {{ details.name }}</h2>
<h3>Structure Checks</h3>
<p class='lead {{ details.name|lower }}'>{{ details.name }}</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Severity</th>
    <th>Message</th>
    <th>Sub Message</th>
  </tr>
  {{ struct_rows(details.errors) }}
</table>

<h3>Metadata Checks</h3>
<h4>Schema</h4>
<p class="lead">Schema Validation: {{ validation_badge(schema_result) }}</p>
<table class="table table-striped">
  <tr>
    <th>Severity</th>
    <th>Message</th>
  </tr>
  {% for error in schema_errors %}
    <tr>
      <td>Error</td>
      <td>{{ error.msg }}</td>
    </tr>
  {% endfor %}
</table>
<p class="lead">Schematron Validation: {{ validation_badge(schematron_result) }}</p>
<table class="table table-striped">
  <tr>
    <th>Section</th>
    <th>Result</th>
  </tr>
  {% for key, value in profile_results.items() %}
  <tr>
    <td>{{ prof_names[key] }}</td>
    <td>{{ validation_badge(value.is_valid) }}</td>
  </tr>
  {% endfor %}
</table>
<p class="lead">Schematron Issues:</p>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Severity</th>
    <th>Location</th>
    <th>Test</th>
    <th>Message</th>
  </tr>
  {{ prop_rows(profile_results) }}

</table>
{% endblock page_content %}
{% block page_script %}
{% endblock page_script %}

{% macro prop_rows(results) %}
{% for key, value in results.items() %}
  {% for warning in value.warnings %}
    {{ prop_row(warning) }}
  {% endfor %}
  {% for failure in value.failures %}
    {{ prop_row(failure) }}
  {% endfor %}
{% endfor %}
{% endmacro %}

{% macro prop_row(issue) %}
  <tr>
    <td>{{ rule_link(issue.rule_id) }}</td>
    <td>{{ issue.severity.name }}</td>
    <td>{{ issue.location.location }}</td>
    <td>{{ issue.location.test }}</td>
    <td>{{ issue.message }}</td>
  </tr>
{% endmacro -%}

{% macro struct_rows(errors) %}
{% for error in errors %}
  {{ struct_row(error) }}
{% endfor %}
{% endmacro %}

{% macro struct_row(error) %}
  <tr>
    <td>{{ rule_link(error.rule_id) }}</td>
    <td>{{ error.severity.name }}</td>
    <td>{{ error.message }}</td>
    <td>{{ error.sub_message }}</td>
  </tr>
{% endmacro %}

{% macro validation_badge(result) %}
  <span class="{{ validation_badge_class(result) }}">{% if result == true %}Valid{% else %}Invalid{% endif %}</span>
{% endmacro %}

{% macro validation_badge_class(result) %}
  badge badge-{% if result == true %}success{% else %}danger{% endif %}
{% endmacro %}

{% macro rule_link(rule_id) %}
  <a href="https://earkcsip.dilcis.eu/#{{ rule_id }}">{{ rule_id }}</a>
{% endmacro %}
